# Frontend Environment Variables
# In Vercel: Settings > Environment Variables
REACT_APP_API_URL=https://your-render-backend.onrender.com

#api
# https://lgvjlnpqwesfbozxkcpa.supabase.co
#anon
# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxndmpsbnBxd2VzZmJvenhrY3BhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MzY1NDYsImV4cCI6MjA5MTQxMjU0Nn0.xo-KyAJCsd_9p4MalLcmtJa2Wq2KcV7CKvyQjZciE_U
#service
#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxndmpsbnBxd2VzZmJvenhrY3BhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTgzNjU0NiwiZXhwIjoyMDkxNDEyNTQ2fQ.8X14B7UVYPEuR9O2VoRHvHwMCwJ1W1NLdknyucXPB7s
